/* Evita rolagem horizontal na tela */
body {
  overflow-x: hidden;
}

/* CONTEÚDO PRINCIPAL da página (fora da sidebar) */
#mainContent {
  margin-left: 60px; /* espaço reservado para sidebar recolhida */
  margin-top: 80px;  /* abaixo do menu superior */
  transition: margin-left 0.3s;
}

/* CONTEÚDO PRINCIPAL quando a sidebar está expandida */
.sidebar.expanded ~ #mainContent {
  margin-left: 200px;
}

/* MINIATURAS de vídeo (thumbnails de vídeos) */
.video-thumbnail {
  width: 20%;
  height: auto;
}
.container-fluid.mt-4.px-4 {
  padding-top: 100px; /* afasta tudo do menu superior fixo */
}
.btn-roxo {
  background-color: #a678e2; /* roxo principal do seu tema */
  color: white;
  border: none;
}

.btn-roxo:hover {
  background-color: #915cd3; /* roxo mais escuro ao passar o mouse */
}