* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #cbb4e3, #e1c5ff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 320px; /* menor largura */
  animation: fadeIn 0.4s ease-in-out;
}

.form-container h2 {
  text-align: center;
  color: #a678e2;
  margin-bottom: 1.2rem;
  font-size: 1.3rem;
}

.form-group {
  margin-bottom: 0.8rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.9rem;
}

.form-group input:focus {
  border-color: #a678e2;
  outline: none;
}

.form-group button {
  width: 100%;
  padding: 0.6rem;
  background-color: #a678e2;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 0.95rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-group button:hover {
  background-color: #915cd3;
}

.form-link {
  text-align: center;
  margin-bottom: 0.8rem;
}

.form-link a {
  font-size: 0.85rem;
  color: #6a1b9a;
  text-decoration: none;
}

.form-link a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
